* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #b126fa, #fb6300);
    display: flex;
    justify-content: center;
    align-items: center;
}

.account {
    text-align: center;
    margin-top: 25px;
}

.link {
    opacity: 0.6;
    text-align: center;
    margin-top: 10px;
}

    .link:hover {
        opacity: 1;
        color: blueviolet;
        text-decoration: underline;
        cursor: pointer;
    }

.login-box {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 40px;
    width: 300px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: #fff;
    animation: fadeIn 1.2s ease;
}

    .login-box h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    .login-box input {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 8px;
        color: #fff;
    }

        .login-box input::placeholder {
            color: #ddd;
        }

    .login-box button {
        width: 100%;
        padding: 12px;
        margin-top: 15px;
        background-color: rgba(255, 255, 255, 0.25);
        border: none;
        border-radius: 8px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }

        .login-box button:hover {
            background-color: #ffffff55;
        }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
